<script id="repositories" type="text/html">
    {{#repository}}
    <section>
        <div class="sectionTitle">
            <img class="img-repository quickFade delayThree" src="{{ links.avatar.href }}" />
            <h1 class="quickFade delayThree">
                <a href="{{ links.html.href }}" target="_blank">{{ name }}</a>
            </h1>
        </div>

        <div class="sectionContent">
            <article>
                <p class="quickFade delayFour subDetails"> Created: {{ created }}</p>
                <p class="quickFade delayFour subDetails"> Updated: {{ updated }}</p>
                <p class="quickFade delayFour subDetails"> Issues: {{ has_issues }}</p>
                <p class="quickFade delayFour subDetails"> Wiki: {{ has_wiki }}</p>
                <p class="quickFade delayFour subDetails"> Language : {{ language }}</p>
                <p class="quickFade delayFour subDetails"> Size: {{ size }}b</p>

                <p class="quickFade delayFour"> {{ description }}</p>
            </article>
        </div>
        <div class="clear"></div>
    </section>
    {{/repository}}
</script>
